<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.argonet.r2rims.gotit.mapper.GotitMapper">

  <sql id="pageHeader">SELECT * FROM ( SELECT * FROM (</sql>
  <sql id="pageFooter"><![CDATA[) WHERE RN  <=  (#{ps} + #{ct})) a  WHERE a.RN > #{ps}]]></sql>
  <sql id="nvlifnull"><if test="_databaseId == 'oracle' ">NVL</if><if test="_databaseId == 'mysql' ">IFNULL</if></sql>
  <sql id="prefixToChar"><if test="_databaseId == 'oracle' ">TO_CHAR(</if><if test="_databaseId == 'mysql' ">DATE_FORMAT(</if></sql>
  <sql id="postfixToCharYmd"><if test="_databaseId == 'oracle' ">, 'YYYYMMDD')</if><if test="_databaseId == 'mysql' ">, '%Y%m%d')</if></sql>
  <sql id="postfixToCharY-m-d"><if test="_databaseId == 'oracle' ">, 'YYYY-MM-DD')</if><if test="_databaseId == 'mysql' ">, '%Y-%m-%d')</if></sql>
  <sql id="prefixToDate"><if test="_databaseId == 'oracle' ">TO_DATE(</if><if test="_databaseId == 'mysql' ">STR_TO_DATE(</if></sql>
  <sql id="postfixToDate"><if test="_databaseId == 'oracle' ">, 'YYYY-MM-DD')</if><if test="_databaseId == 'mysql' ">, '%Y-%m-%d')</if></sql>
  <sql id="sysdateNow"><if test="_databaseId == 'oracle' ">SYSDATE</if><if test="_databaseId == 'mysql' ">now()</if></sql>


  <select id="findTop5" resultType="java.util.HashMap">
    select RECID, USERID, SVCGRP, TITLE, URL, AUTHOR, DATE_FORMAT(REGDATE, '%Y-%m-%d') AS REGDATE
    from GI_RECITEM
    where USERID = #{userId}
    order by REGDATE desc limit 5;
  </select>

  <select id="findFavorite" resultType="java.util.HashMap">
    select "no", recissueno, data_id, userid, title, svcgrp, solution, url, DATE_FORMAT(REGDATE, '%Y-%m-%d') AS regdate
    from GI_FAVORITE
    where USERID = #{userId}
    order by REGDATE desc;
  </select>

  <select id="findMailingTop5" resultType="java.util.HashMap">
    select GI.ISSUE_ID, GI.ISSN, GI.JOURNALNAME, GI.VOLUME, GI.ISSUE, GM.MSG_ID, GM.MESSAGE, GM.USERID, DATE_FORMAT(GM.SENDDATE, '%Y-%m-%d') AS SENDDATE
    from GI_SVC_MESSAGE GM, GI_SVC_ISSUE GI
    where GM.ISSUE_ID = GI.ISSUE_ID
      and GM.USERID = #{userId}
      and GM.SEND_YN = 'Y'
    order by GM.SENDDATE DESC LIMIT 5
  </select>

  <select id="totalMail" resultType="java.lang.Integer">
    select count(1)
    from GI_SVC_MESSAGE gm, GI_SVC_ISSUE gi
    where gm.ISSUE_ID = gi.ISSUE_ID
    and gm.USERID = #{userId}
    and gm.SEND_YN= 'Y'
    order by gm.SEND_YN desc
  </select>

  <select id="findMailList" resultType="java.util.HashMap">
    select gm.MSG_ID, gi.JOURNALNAME, gi.ISSN, gi.VOLUME, gi.ISSUE, gm.SENDDATE
    from GI_SVC_MESSAGE gm, GI_SVC_ISSUE gi
    where gm.ISSUE_ID = gi.ISSUE_ID
    and gm.USERID = #{userId}
    and gm.SEND_YN= 'Y'
    <choose>
      <when test='sort == "regDate" and order == "desc"'>
        order by gm.SEND_YN desc
      </when>
      <otherwise>
        order by gm.SEND_YN
      </otherwise>
    </choose>
    limit #{page} <![CDATA[,]]> #{count}
  </select>

  <select id="getMailArticle" resultType="java.util.HashMap">
    select gx.TITLE, gx.AUTHOR, gx.VOLUME, gx.ISSUE, gx.STR_PAGE, gx.END_PAGE
    from GI_SVC_MESSAGE gm, GI_SVC_ISSUE gi, GI_SVC_INDEX gx
    where gm.ISSUE_ID = gi.ISSUE_ID
    and gi.ISSUE_ID = gx.ISSUE_ID
    and gm.USERID = #{userId}
    and gm.MSG_ID = #{msgId}
    order by CAST(gx.STR_PAGE AS UNSIGNED)
  </select>

</mapper>