<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.argonet.r2rims.rss.mapper.MyRssMapper">

  <sql id="pageHeader">SELECT * FROM ( SELECT * FROM (</sql>
  <sql id="pageFooter"><![CDATA[) WHERE RN  <=  (#{ps} + #{ct})) a  WHERE a.RN > #{ps}]]></sql>
  <sql id="nvlifnull"><if test="_databaseId == 'oracle' ">NVL</if><if test="_databaseId == 'mysql' ">IFNULL</if></sql>
  <sql id="prefixToChar"><if test="_databaseId == 'oracle' ">TO_CHAR(</if><if test="_databaseId == 'mysql' ">DATE_FORMAT(</if></sql>
  <sql id="postfixToCharYmd"><if test="_databaseId == 'oracle' ">, 'YYYYMMDD')</if><if test="_databaseId == 'mysql' ">, '%Y%m%d')</if></sql>
  <sql id="postfixToCharY-m-d"><if test="_databaseId == 'oracle' ">, 'YYYY-MM-DD')</if><if test="_databaseId == 'mysql' ">, '%Y-%m-%d')</if></sql>
  <sql id="prefixToDate"><if test="_databaseId == 'oracle' ">TO_DATE(</if><if test="_databaseId == 'mysql' ">STR_TO_DATE(</if></sql>
  <sql id="postfixToDate"><if test="_databaseId == 'oracle' ">, 'YYYY-MM-DD')</if><if test="_databaseId == 'mysql' ">, '%Y-%m-%d')</if></sql>
  <sql id="sysdateNow"><if test="_databaseId == 'oracle' ">SYSDATE</if><if test="_databaseId == 'mysql' ">now()</if></sql>

  <select id="findFavorite" resultType="kr.co.argonet.r2rims.rss.vo.FavoriteVo">
    <if test="_databaseId == 'oracle'">
      select AF.TITLE, AF.SVCGRP, AF.REGDATE, AF.SOLUTION, AF.DATA_ID, AF.URL, AF.VOLUME, AF.ISSUE, AF.PAGE, AF.CLG_NM, AF.DEPT_NM, AF.AUTHOR, AF.ISSN, AF.IS_OA
      from (select rownum as num, NO, TITLE, SVCGRP, REGDATE, SOLUTION, DATA_ID, USER_ID, URL, VOLUME, ISSUE, PAGE, CLG_NM, DEPT_NM, AUTHOR, ISSN, IS_OA from AT_FAVORITE) AF
      where AF.USER_ID = #{userId}
      and AF.num <![CDATA[ > ]]> #{page}
      and AF.num <![CDATA[ <= ]]> #{count}
    </if>
    <if test="_databaseId == 'mysql'">
      select AF.TITLE, AF.SVCGRP, AF.REGDATE, AF.SOLUTION, AF.DATA_ID, AF.URL, AF.VOLUME, AF.ISSUE, AF.PAGE, AF.CLG_NM, AF.DEPT_NM, AF.AUTHOR, AF.ISSN, AF.IS_OA
      from AT_FAVORITE AF
      where AF.USER_ID = #{userId}
        <choose>
            <when test='sort == "regDate" and order == "desc"'>
              order by AF.REGDATE desc
            </when>
            <otherwise>
              order by AF.REGDATE
            </otherwise>
        </choose>
      limit #{page} <![CDATA[,]]> #{count}
    </if>
  </select>

    <select id="findAllFavorite" resultType="kr.co.argonet.r2rims.rss.vo.FavoriteVo">
            select AF.TITLE, AF.SVCGRP, AF.REGDATE, AF.SOLUTION, AF.DATA_ID, AF.URL, AF.VOLUME, AF.ISSUE, AF.PAGE, AF.CLG_NM, AF.DEPT_NM, AF.AUTHOR, AF.ISSN, AF.IS_OA
            from AT_FAVORITE AF
            where AF.USER_ID = #{userId}
            and AF.SVCGRP = #{svcgrp}
            order by AF.REGDATE desc
    </select>

  <select id="totalFavorite" resultType="int">
    select count(1) from AT_FAVORITE where USER_ID = #{userId}
  </select>

  <select id="findByItemId" resultType="java.lang.String">
    select NO
    from AT_FAVORITE
    where USER_ID = #{userId}
    and SVCGRP = #{svcgrp}
    and DATA_ID = #{dataId}
    and SOLUTION = 'RSS'
  </select>

  <insert id="addFavorite" parameterType="kr.co.argonet.r2rims.rss.vo.FavoriteVo" keyColumn="NO" keyProperty="no" useGeneratedKeys="true">
      <selectKey keyProperty="no" resultType="int" order="AFTER">
          <if test="_databaseId == 'oracle' ">select SEQ_AT_FAVORITE.CURRVAL from dual</if>
          <if test="_databaseId == 'mysql' ">select LAST_INSERT_ID()</if>
      </selectKey>
      insert into AT_FAVORITE (
          <if test="_databaseId == 'oracle' ">NO,</if>
          TITLE, SVCGRP, SOLUTION, DATA_ID, URL, USER_ID, PUBYEAR, VOLUME, ISSUE, PAGE, CLG_NM, DEPT_NM, AUTHOR, ISSN, IS_OA
      )
      values(
          <if test="_databaseId == 'oracle' ">SEQ_AT_FAVORITE.NEXTVAL,</if>
          #{title, jdbcType=VARCHAR}, #{svcgrp, jdbcType=VARCHAR}, #{solution, jdbcType=VARCHAR}, #{dataId, jdbcType=VARCHAR}, #{url, jdbcType=VARCHAR}, #{userId, jdbcType=VARCHAR},
          #{pubYear, jdbcType=VARCHAR}, #{volume, jdbcType=VARCHAR}, #{issue, jdbcType=VARCHAR}, #{page, jdbcType=VARCHAR}, #{clgNm, jdbcType=VARCHAR}, #{deptNm, jdbcType=VARCHAR},
          #{author, jdbcType=VARCHAR}, #{issn, jdbcType=VARCHAR}, #{isOA, jdbcType=VARCHAR}
      )
  </insert>

  <delete id="deleteFavorite">
    delete from AT_FAVORITE
    where USER_ID = #{userId}
    and SVCGRP = #{svcgrp}
    and DATA_ID = #{dataId}
    and SOLUTION = 'RSS'
  </delete>

  <select id="totalBoardCount" resultType="int">
    select count(1) from RI_BBS where TRGET_CD = #{deptCode}
  </select>

<select id="findBoardLIst"	resultType="kr.co.argonet.r2rims.core.vo.BbsVo">
    select rb.*
    from RI_BBS rb
    where rb.TRGET_CD = #{deptCode}
    and rb.TYPE = 'referenceData'
    and rb.DEL_DVS_CD = 'N'
    <choose>
        <when test='sort == "regDate" and order == "desc"'>
            order by rb.REG_DATE desc
        </when>
        <otherwise>
            order by rb.REG_DATE
        </otherwise>
    </choose>
    limit #{page} <![CDATA[,]]> #{count}
</select>

    <select id="findBoardDetail" resultType="kr.co.argonet.r2rims.core.vo.BbsVo">
        select rb.*
        from RI_BBS rb
        where rb.TRGET_CD = #{deptCode}
        and rb.BBS_ID = #{bbsId}
        and rb.DEL_DVS_CD = 'N'
    </select>

    <select id="findFile" resultType="kr.co.argonet.r2rims.core.vo.FileVo">
        select rf.*
        from RI_FILE rf
        where rf.RELATED_ID = #{bbsId}
        and rf.GUBUN = 'BOARD'
        and rf.DEL_DVS_CD = 'N'
    </select>

    <update id="increaseBoardCount">
        update RI_BBS rb
        set rb.VIEW_CNT = rb.VIEW_CNT + 1
        where rb.BBS_ID = #{bbsId}
    </update>
</mapper>