<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.argonet.r2rims.pms.mapper.PmsPatentMapper">

  <sql id="pageHeader">SELECT * FROM ( SELECT * FROM (</sql>
  <sql id="pageFooter"><![CDATA[) WHERE RN  <=  (#{ps} + #{ct})) a  WHERE a.RN > #{ps}]]></sql>
  <sql id="nvlifnull"><if test="_databaseId == 'oracle' ">NVL</if><if test="_databaseId == 'mysql' ">IFNULL</if></sql>
  <sql id="prefixToDate"><if test="_databaseId == 'oracle' ">TO_DATE(</if><if test="_databaseId == 'mysql' ">STR_TO_DATE(</if></sql>
  <sql id="postfixToDate"><if test="_databaseId == 'oracle' ">, 'YYYY-MM-DD')</if><if test="_databaseId == 'mysql' ">, '%Y-%m-%d')</if></sql>
  <sql id="sysdateNow"><if test="_databaseId == 'oracle' ">SYSDATE</if><if test="_databaseId == 'mysql' ">now()</if></sql>

	<sql id="patentOrderby">
		order by
		<choose>
			<when test="orderby == 'itlPprRgtNm'">title</when>
			<when test="orderby == 'applRegNo'">app_no</when>
			<when test="orderby == 'itlPprRgtRegNo'">reg_no</when>
			<when test="orderby == 'status'">status</when>
			<when test="orderby == 'modDate'">modified</when>
			<otherwise>CASE_ID</otherwise>
		</choose>
		<if test=" direct != null and direct == 'asc' ">ASC</if>
		<if test=" direct == null or direct == 'des' ">DESC</if>
	</sql>

  <sql id="patentsCasesAliasField">
  	  case_id 		as srcId,
  	  case_id 		as caseId,
  	  patent_id 	as pmsId,
  	  p_code 		as familyCode,
  	  nation 		as applRegNtnCd,
  	  title		 	as itlPprRgtNm,
  	  title_b_kr 	as beforeItlPprRgtNm,
  	  title_b_en 	as diffItlPprRgtNm,
  	  app_date 		as applRegDate,
  	  date_format(app_date, '%Y') as applRegYear,
  	  date_format(app_date, '%m') as applRegMonth,
  	  date_format(app_date, '%d') as applRegDay,
  	  app_no 		as applRegNo,
  	  reg_date 		as itlPprRgtRegDate,
  	  date_format(reg_date, '%Y') as itlPprRgtRegYear,
  	  date_format(reg_date, '%m') as itlPprRgtRegMonth,
  	  date_format(reg_date, '%d') as itlPprRgtRegDay,
  	  reg_no 		as itlPprRgtRegNo,
  	  apply_organ 	as applRegtNm,
  	  status 		as status,
  	  etc		    as apprRtrnCnclRsnCntn,
  	  created       as regDate,
      modified      as modDate, 
      base_tech		AS patClsCd, 
	(CASE division 
		WHEN '국내' THEN '1' WHEN '해외' THEN '2' WHEN 'PCT' THEN '3' 
		WHEN '변경' THEN '4' WHEN '분할' THEN '5' WHEN '우선권' THEN '6' 
		ELSE '' 
	END) AS applDvsCd, 
  	  ( case division when '해외' then '2'
  	  	 			  when '국내' then '1'
  	  				  else ''	  end
  	  ) as acqsNtnDvsCd,
	  ( case division when 'PCT' then '2'
	                 else ''     end
	   ) as acqsDtlDvsCd,
  	  ( case apply_division when '특허' 			then '1'
  	                        when '실용신안'  		then '2'
  	                        when '디자인'    		then '3'
  	                        when '상표'    			then '4'
  	                        when '상표/서비스표'    then '4'
  	                        when '소프트웨어'    	then '5'
  	                        when '저작권'    		then '6'
  	                        when '반도체배치설계권' then '7'
  	                        else ''					end
  	   ) as itlPprRgtDvsCd, 
	(CASE IFNULL(deleted, '') WHEN '' THEN '' ELSE 'Y' END) AS delDvsCd 
  </sql>

	<select id="findGreaterThanBySrcId" resultType="kr.co.argonet.r2rims.core.vo.PatentVo">
		select <include refid="patentsCasesAliasField" />
		from patents_cases
		where
			case_id <![CDATA[ > ]]> #{srcId, jdbcType=INTEGER}
			AND patent_id IN (SELECT patent_id FROM patents WHERE is_temp='0')
	</select>

	<select id="findNewPatentBySrcId" resultType="kr.co.argonet.r2rims.core.vo.PatentVo">
		select <include refid="patentsCasesAliasField" />
		from patents_cases
		where
			case_id <![CDATA[ > ]]> #{srcId, jdbcType=INTEGER}
			AND ((app_no is not null and app_no != '') OR (reg_no is not null and reg_no != ''))
			AND patent_id IN (SELECT patent_id FROM patents WHERE is_temp='0')
	</select>

	<select id="findGreaterThanByModHistId" resultType="kr.co.argonet.r2rims.core.vo.PatentCntcVo">
		select
			id  as modHistId,
			case_id as srcId
		from modify_histories
		where
			id <![CDATA[ > ]]> #{modHistId, jdbcType=INTEGER}
			AND case_id <![CDATA[ <= ]]> #{srcId, jdbcType=INTEGER}
			AND (
				field='등록번호(reg_no)'
				OR field='출원번호(app_no)'
				OR (
					field='상태(status)'
					AND (
						after_value like '%출원완료%'
						or after_value like '%등록완료%'
						or after_value like '%거절확정%'
						or after_value like '%소멸%'
						or after_value like '%취하%'
						or after_value like '%포기%'
						)
					)
				OR field='삭제일(deleted)'
		  		)
			<if test='srcIds != null'>
			AND case_id not in <foreach collection="srcIds" item="caseId" open=" ( " close=" ) " separator=" , ">#{caseId}</foreach>
			</if>
	</select>

	<sql id="srcIdsCondition">
		<if test='srcIds != null'>
			OR case_id in <foreach collection="srcIds" item="caseId" open=" ( " close=" ) " separator=" , ">#{caseId}</foreach>
		</if>
	</sql>

	<select id="countBySrcIds" resultType="int">
		select count(*) as totalCount
		from patents_cases
		<where>
			case_id = 0
			<include refid="srcIdsCondition"/>
		</where>
	</select>

	<select id="findBySrcIds" resultType="kr.co.argonet.r2rims.core.vo.PatentVo">
		<if test="_databaseId == 'oracle' "><include refid="pageHeader"/></if>
		select <include refid="patentsCasesAliasField"/>
				<if test="_databaseId == 'oracle' "> <!-- oracle paging column -->
					,row_number()over(<include refid="patentOrderby"/>) AS RN
				</if>
		from patents_cases
		<where>
		     case_id = 0
			<include refid="srcIdsCondition"/>
		</where>
		<include refid="patentOrderby"/>
	<if test="_databaseId == 'mysql' ">LIMIT ${ps}, ${ct}</if> <!-- mysql paging -->
	<if test="_databaseId == 'oracle' "><include refid="pageFooter"/></if>
  </select>

  <select id="findBySrcId" resultType="kr.co.argonet.r2rims.core.vo.PatentVo">
  	select <include refid="patentsCasesAliasField"/>,
		(select group_concat(name_kr) from coinventors where case_id = TA.case_id) as invtNm,
		(select count(*) from coinventors where case_id = TA.case_id) as invtCnt,
		(select max(project_no) from researchs where patent_id = TA.patent_id and project_no is not null group by patent_id) as sbjtNo, 
		(
		SELECT REPLACE(REPLACE(ipcNumber,' ', ''),'|',';') FROM kipris_kr TB WHERE TB.applicationNumber=TA.app_no 
		UNION 
		SELECT REPLACE(ipc,' ',';') FROM kipris_in TB WHERE TB.applicationNo=TA.app_no
		) ipc 
  	from patents_cases TA
  	where case_id = #{srcId, jdbcType=INTEGER}
  </select>

  <select id="findCoInventerBySrcId" resultType="kr.co.argonet.r2rims.core.vo.PatentPartiVo">
	select 
		case_id as srcId, 
		emp_no as prtcpntId, 
		name_kr as prtcpntNm, 
		name_en as engNm, 
		IF(INSTR(address, '한국과학기술원') > 0, '610400', '') AS blngAgcCd, 
		IF(INSTR(address, '한국과학기술원') > 0, '한국과학기술원', '') AS blngAgcNm, 
		department AS deptKor, 
		email as email, 
		phone as telno, 
		mobile as hpTelno
  	from coinventors
  	where case_id = #{srcId, jdbcType=INTEGER}
  </select>
  <select id="findFundingMapngListBySrcId" resultType="map">
  	SELECT * FROM researchs 
  	WHERE patent_id IN (SELECT patent_id FROM patents_cases WHERE case_id= #{srcId, jdbcType=INTEGER}) AND IFNULL(project_no, '') != '' 
  </select>
  
</mapper>
