<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.argonet.r2rims.pms.mapper.PmsTechtransferMapper">

  <sql id="pageHeader">SELECT * FROM ( SELECT * FROM (</sql>
  <sql id="pageFooter"><![CDATA[) WHERE RN  <=  (#{ps} + #{ct})) a  WHERE a.RN > #{ps}]]></sql>
  <sql id="nvlifnull"><if test="_databaseId == 'oracle' ">NVL</if><if test="_databaseId == 'mysql' ">IFNULL</if></sql>
  <sql id="prefixToDate"><if test="_databaseId == 'oracle' ">TO_DATE(</if><if test="_databaseId == 'mysql' ">STR_TO_DATE(</if></sql>
  <sql id="postfixToDate"><if test="_databaseId == 'oracle' ">, 'YYYY-MM-DD')</if><if test="_databaseId == 'mysql' ">, '%Y-%m-%d')</if></sql>
  <sql id="sysdateNow"><if test="_databaseId == 'oracle' ">SYSDATE</if><if test="_databaseId == 'mysql' ">now()</if></sql>

  <sql id="transferModified">
	  	select pid, MAX(modified) AS mod_date
		from(
			SELECT id AS pid, modified FROM transfer
			  union all
			SELECT pid, modified FROM transfer_contract
			  union all
			SELECT pid, modified FROM transfer_collection1
			  union all
			SELECT pid, modified FROM transfer_collection2
			  union all
			SELECT pid, modified FROM transfer_collection3
		) A GROUP BY A.pid
  </sql>

  <select id="findTechtransferByModDate" resultType="kr.co.argonet.r2rims.core.vo.TechtransVo">
	  	select TA.id 		            as srcId
		      ,TB.title		            as techTransrNm
		      ,TB.created				as regDate
		      ,TC.mod_date       		as modDate
		from transfer TA
		left join transfer_contract TB on (TA.id = TB.pid)
		left join ( <include refid="transferModified"/>) TC on (TA.id = TC.pid)
		 where TA.contract_state IN ('2','3')
		  <if test="lastHarvestDate != null">
	 	   and TC.mod_date  <![CDATA[ >= ]]> #{lastHarvestDate, jdbcType=DATE}
		  </if>
  </select>

	<select id="findTechtransListBySrcIds" resultType="kr.co.argonet.r2rims.core.vo.TechtransVo">
		SELECT 
			TA.id 		            AS srcId, 
			TB.title		        AS techTransrNm, 
			TB.price		        AS cntrctAmt, 
			TB.price_unit			AS rpmAmtUnit, 
			TB.contract_date		AS cntrctDate, 
			TB.contract_type        AS techTransrCd, 
			TB.contract_code        AS cntrctManageNo, 
			TB.receive_type	        AS collectionCd, 
			TB.start_date	        AS cntrctSttDate, 
			TB.end_date		        AS cntrctEndDate, 
			TB.memo			        AS cntrctInfo, 
			TB.exec_cond			AS oprtnCnd, 
			TB.inventor_department 	AS blngDept, 
			TA.company_name			AS techTransrCorpNm, 
			TA.company_num			AS techTransrCorpRegistNo, 
			TA.contract_state		AS cntrctStatus, 
			TA.refuse_reason		AS apprRtrnCnclRsnCntn, 
			TB.created				AS regDate, 
			TC.mod_date       		AS modDate
		FROM 
			transfer TA
			LEFT JOIN transfer_contract TB ON (TA.id = TB.pid)
			LEFT JOIN (<include refid="transferModified"/>) TC ON (TA.id = TC.pid)
		WHERE 
			TA.contract_state IN ('2','3') 
			AND TA.id IN <foreach collection="srcIds" item="srcId" open=" ( " close=" ) " separator=" , ">#{srcId}</foreach>
  </select>
  <select id="findTechtransferBySrcId" resultType="kr.co.argonet.r2rims.core.vo.TechtransVo">
	  	select TA.id 		            as srcId
		      ,TB.title		            as techTransrNm
		      ,TB.price		            as cntrctAmt
		      ,TB.price_unit			as rpmAmtUnit
		      ,TB.contract_date			as cntrctDate
		      ,SUBSTR(REPLACE(TB.contract_date,'-',''), 1, 6) AS techTransrYm
		      ,SUBSTR(REPLACE(TB.contract_date,'-',''), 1, 4) AS techTransrYear
			  ,SUBSTR(REPLACE(TB.contract_date,'-',''), 5, 2) AS techTransrMonth
		      ,TB.contract_type         as techTransrCd
		      ,TB.contract_code         as cntrctManageNo
		      ,TB.receive_type	        as collectionCd
		      ,TB.start_date	        as cntrctSttDate
		      ,SUBSTR(REPLACE(TB.start_date,'-',''), 1, 4) AS cntrctSttYear
			  ,SUBSTR(REPLACE(TB.start_date,'-',''), 5, 2) AS cntrctSttMonth
		      ,TB.end_date		        as cntrctEndDate
		      ,SUBSTR(REPLACE(TB.end_date,'-',''), 1, 4) AS cntrctEndYear
			  ,SUBSTR(REPLACE(TB.end_date,'-',''), 5, 2) AS cntrctEndMonth
		      ,TB.memo			        as cntrctInfo
		      ,TB.exec_cond		        as oprtnCnd
		      ,TB.inventor_department 	as blngDept
		      ,TA.company_name			as techTransrCorpNm
		      ,TA.company_num			as techTransrCorpRegistNo
		      ,TA.contract_state		as cntrctStatus
		      ,TA.refuse_reason			as apprRtrnCnclRsnCntn
		      ,TB.created				as regDate
		      ,TC.mod_date       		as modDate
		from transfer TA
		left join transfer_contract TB on (TA.id = TB.pid)
		left join ( <include refid="transferModified"/>) TC on (TA.id = TC.pid)
		 where TA.contract_state IN ('2','3')
	 	   and TA.id = #{srcId, jdbcType=INTEGER}
  </select>

  <select id="findTechtransferRcpmnyListBySrcId" resultType="kr.co.argonet.r2rims.core.vo.TechtransRoyaltyVo">
  		select TC.*
  		from (
			SELECT TA.pid 				as srcId
			      ,TA.price				as rpmAmt
			      ,CASE WHEN TB.receive_type = '변동기술료' THEN '선급금'
			        ELSE '정액기술료'
			       END 					as collectionType
			      ,1 					as rpmTme
			      ,1					as srcTme
			      ,TA.eday				as rpmDate
			      ,TA.deduct			as ddcAmt
			      ,TA.deduct_reason		as ddcResn
			      ,TA.diff				as diffAmt
			      ,TA.dist1				as invnterDstbAmt
			      ,TA.dist2				as univDstbAmt
			      ,TA.dist3				as deptDstbAmt
			      ,TA.dist4				as acdincpDstbAmt
			FROM transfer_collection1 TA
			LEFT JOIN transfer_contract TB ON (TA.pid = TB.pid)
			WHERE TA.price IS NOT NULL AND LENGTH(TA.price) > 0
			AND TA.eday IS NOT NULL AND LENGTH(TA.eday) > 0
		UNION ALL
			SELECT TA.pid AS transfer_id
			      ,TA.eprice
			      ,CASE WHEN TC.receive_type = '변동기술료' THEN '경상기술료'
			        ELSE TC.receive_type
			       END AS receive_type
			      ,TA.time_no
			      ,TB.target
			      ,TA.eday
			      ,TB.deduct
			      ,TB.deduct_reason
			      ,TB.diff
			      ,TB.dist1
			      ,TB.dist2
			      ,TB.dist3
			      ,TB.dist4
			FROM (
				 SELECT A.*, (CASE @dpid WHEN A.pid THEN @rownum:=@rownum+1 ELSE @rownum:=1 END) time_no,(@dpid:=A.pid) AS dpid
				 FROM (SELECT * FROM transfer_collection2_detail ORDER BY pid) A, (SELECT @dpid:='', @rownum:=0 FROM DUAL) B
			     ) TA
			 LEFT JOIN (
				SELECT A.*, (CASE @ppid WHEN A.pid THEN @rownum:=@rownum+1 ELSE @rownum:=1 END) time_no,(@ppid:=A.pid) AS dpid
				 FROM (SELECT * FROM transfer_collection2_price ORDER BY pid) A, (SELECT @ppid:='', @rownum:=0 FROM DUAL) B
			    ) TB ON (TA.pid = TB.pid AND TA.time_no = TB.time_no)
			 LEFT JOIN transfer_contract TC ON (TA.pid = TC.pid)
			 WHERE TA.eprice IS NOT NULL AND LENGTH(TA.eprice) > 0
			 AND TA.eday IS NOT NULL AND LENGTH(TA.eday) > 0
		 UNION ALL
			SELECT TA.pid AS transfer_id
			      ,TA.eprice
			      ,CASE WHEN TC.receive_type = '변동기술료' THEN '분납기술료'
			        ELSE TC.receive_type
			       END AS receive_type
			      ,TA.time_no
			      ,TB.target
			      ,TA.eday
			      ,TB.deduct
			      ,TB.deduct_reason
			      ,TB.diff
			      ,TB.dist1
			      ,TB.dist2
			      ,TB.dist3
			      ,TB.dist4
			FROM (
				 SELECT A.*, (CASE @dpid WHEN A.pid THEN @rownum:=@rownum+1 ELSE @rownum:=1 END) time_no,(@dpid:=A.pid) AS dpid
				 FROM (SELECT * FROM transfer_collection3_detail ORDER BY pid) A, (SELECT @dpid:='', @rownum:=0 FROM DUAL) B
			     ) TA
			 LEFT JOIN (
				SELECT A.*, (CASE @ppid WHEN A.pid THEN @rownum:=@rownum+1 ELSE @rownum:=1 END) time_no,(@ppid:=A.pid) AS dpid
				 FROM (SELECT * FROM transfer_collection3_price ORDER BY pid) A, (SELECT @ppid:='', @rownum:=0 FROM DUAL) B
			    ) TB ON (TA.pid = TB.pid AND TA.time_no = TB.time_no)
			 LEFT JOIN transfer_contract TC ON (TA.pid = TC.pid)
			 WHERE TA.eprice IS NOT NULL AND LENGTH(TA.eprice) > 0
			 AND TA.eday IS NOT NULL AND LENGTH(TA.eday) > 0
	) TC
	where TC.srcId = #{srcId, jdbcType=INTEGER}
  </select>

  <select id="findTechtransferPartiListBySrcId" resultType="kr.co.argonet.r2rims.core.vo.TechtransPartiVo">
     <![CDATA[

		SELECT ci.name_kr 		as prtcpntNm
		      ,ci.name_en 		as prtcpntEngNm
		      ,IF(ci.emp_no = '', null, ci.emp_no)	as prtcpntId
		      ,ci.department	as deptKor
		      ,(   SELECT B.kaist_uid FROM member B
			      WHERE B.kaist_uid IS NOT NULL AND LENGTH(B.kaist_uid) > 0 AND B.ssn IS NOT NULL AND LENGTH(B.ssn) > 0 AND B.ssn = MAX(ci.signnum)
			     GROUP BY B.ssn HAVING COUNT(*) < 4
			   ) as uId
		      ,IF(ci.userid = '', NULL, ci.userid) as emalAddr
		 FROM coinventors ci
		 LEFT JOIN patents_cases pc ON (ci.case_id = pc.case_id)
		 LEFT JOIN transfer_patents tp ON (pc.patent_id = tp.patent_id)
		 WHERE pid = #{srcId, jdbcType=INTEGER}
		 GROUP BY ci.name_kr, ci.emp_no
		 ORDER BY IFNULL(IF(ci.emp_no = '', null, ci.emp_no), 9999)
	  ]]>
     <!-- select from transfer_collection_incentive
		SELECT  A.pid			as srcId
		       ,A.name_kr		as prtcpntNm
		       ,(   SELECT B.kaist_uid FROM member B
		       		WHERE B.kaist_uid IS NOT NULL AND LENGTH(B.kaist_uid) > 0 AND B.ssn IS NOT NULL AND LENGTH(B.ssn) > 0 AND B.ssn = A.signnum
		       		GROUP BY B.ssn HAVING COUNT(*) < 4
		       ) AS uId
		FROM transfer_collection_incentive A
		where pid = #{srcId, jdbcType=INTEGER}
		GROUP BY pid, name_kr
		ORDER BY pid, name_kr
	 -->
  </select>

  <select id="findTechtransferPartiDstbamtListBySrcIdAndRpmTme" resultType="kr.co.argonet.r2rims.core.vo.TechtransPartiDstbamtVo">
  	<![CDATA[
		select TB.id			as srcSeq
		     , TB.pid			as srcId
		     , TB.rpmTme		as rpmTme
		     , TB.target 		as srcTme
		     , TB.name_kr		as prtcpntNm
		     , TB.rate_share	as qotaRate
		     , TB.total_share	as dstbAmt
			,(SELECT B.kaist_uid FROM member B WHERE B.kaist_uid IS NOT NULL AND LENGTH(B.kaist_uid) > 0 AND B.ssn IS NOT NULL AND LENGTH(B.ssn) > 0 AND B.ssn = TB.signnum GROUP BY B.ssn HAVING COUNT(*) < 4) AS uid
		from (
		select A.*, (CASE WHEN @pid = A.pid and @pidtme != A.pidtme THEN @rownum:=@rownum+1 ELSE case WHEN @pid = A.pid AND @pidtme = A.pidtme THEN @rownum:=@rownum ELSE @rownum:=1 END END) rpmTme,(@pidtme:=A.pidtme) AS pidtme2, (@pid := A.pid) as pid2
		FROM ( select TA.*, CONCAT(TA.pid,LPAD(TA.target,3,'0')) as pidtme from transfer_collection_incentive TA group by pid,target,name_kr order by pid, target, name_kr  ) A
		     ,(SELECT @pid:='', @pidtme:='', @rownum:=0 FROM DUAL) B
		) TB
		where TB.pid = #{srcId, jdbcType=INTEGER}
		  and TB.target = #{srcTme, jdbcType=INTEGER}
	 ]]>
  </select>

	<select id="findPatentListBySrcId" resultType="kr.co.argonet.r2rims.core.vo.RsltPatentMapngVo">
		SELECT 
			id 			AS srcId, 
			pid 		AS techtransSrcId, 
			patent_id 	AS pmsId, 
			title		AS itlPprRgtNm, 
			p_code		AS familyCode, 
			inventor	AS invtNm, 
			inventors	AS inventors, 
			app_no		AS applRegNo, 
			reg_no		AS itlPprRgtRegNo 
		FROM transfer_patents 
		WHERE pid = #{srcId, jdbcType=INTEGER}
	</select>

</mapper>
