<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.argonet.r2rims.erp.mapper.ErpAwardMapper">

  <sql id="pageHeader">SELECT * FROM ( SELECT * FROM (</sql>
  <sql id="pageFooter"><![CDATA[) WHERE RN  <=  (#{ps} + #{ct})) a  WHERE a.RN > #{ps}]]></sql>
  <sql id="nvlifnull"><if test="_databaseId == 'oracle' ">NVL</if><if test="_databaseId == 'mysql' ">IFNULL</if></sql>
  <sql id="prefixToChar"><if test="_databaseId == 'oracle' ">TO_CHAR(</if><if test="_databaseId == 'mysql' ">DATE_FORMAT(</if></sql>
  <sql id="postfixToCharYmd"><if test="_databaseId == 'oracle' ">, 'YYYYMMDD')</if><if test="_databaseId == 'mysql' ">, '%Y%m%d')</if></sql>
  <sql id="postfixToCharY-m-d"><if test="_databaseId == 'oracle' ">, 'YYYY-MM-DD')</if><if test="_databaseId == 'mysql' ">, '%Y-%m-%d')</if></sql>
  <sql id="prefixToDate"><if test="_databaseId == 'oracle' ">TO_DATE(</if><if test="_databaseId == 'mysql' ">STR_TO_DATE(</if></sql>
  <sql id="postfixToDate"><if test="_databaseId == 'oracle' ">, 'YYYY-MM-DD')</if><if test="_databaseId == 'mysql' ">, '%Y-%m-%d')</if></sql>
  <sql id="sysdateNow"><if test="_databaseId == 'oracle' ">SYSDATE</if><if test="_databaseId == 'mysql' ">now()</if></sql>

  <select id="findByModDate" resultType="kr.co.argonet.r2rims.core.vo.AwardVo">
  	select HP.EMPLOYEE_NUMBER			as userId
  	      ,HP.PERSON_ANALYSIS_ID		as srcId
  	      ,SUBSTR(HP.PRIZE_DATE,1,6)	as awrdYm
  	      ,HP.PRIZE_NAME				as awrdNm
  	      ,HP.PRIZE_COMP				as cfmtAgcNm
  	      ,HP.NATIONALITY_CODE			as country
  	      ,case when HP.PRIZE_CAT = '내부' then '1'
  	      		when HP.PRIZE_CAT = '외부' then '2'
  	       else ''
  	       end  						as awrdCat
  	      ,HP.PRIZE_TYPE				as awrdType
  	      ,'ERP'						as src
  	      ,'100000000000000000000'		as interfaceFlag
  	      ,'KRI_CO'						as ntntGubunA
  	      ,'ERP_CO'						as ntntGubunB
  	 from CBO_HR_PRIZE_V HP
    where LAST_UPDATE_DATE <![CDATA[ >= ]]> #{lastHarvestDate, jdbcType=VARCHAR}
  </select>

  <select id="findByUserId" resultType="kr.co.argonet.r2rims.core.vo.AwardVo">
  	select HP.EMPLOYEE_NUMBER			as userId
  	      ,HP.PERSON_ANALYSIS_ID		as srcId
  	      ,SUBSTR(HP.PRIZE_DATE,1,6)	as awrdYm
  	      ,HP.PRIZE_NAME				as awrdNm
  	      ,HP.PRIZE_COMP				as cfmtAgcNm
  	      ,HP.NATIONALITY_CODE			as country
  	      ,case when HP.PRIZE_CAT = '내부' then '1'
  	      		when HP.PRIZE_CAT = '외부' then '2'
  	       else ''
  	       end  						as awrdCat
  	      ,HP.PRIZE_TYPE				as awrdType
  	      ,'ERP'						as src
  	      ,'100000000000000000000'		as interfaceFlag
  	      ,'KRI_CO'						as ntntGubunA
  	      ,'ERP_CO'						as ntntGubunB
  	 from CBO_HR_PRIZE_V HP
    where EMPLOYEE_NUMBER = #{userId, jdbcType=VARCHAR}
  </select>
</mapper>
